.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom.css-h93ljk-MuiTypography-root {
	white-space: nowrap;
	width: 239px;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #2b5075;
}
h3.MuiTypography-root.makeStyles-title-3.MuiTypography-h3 {
	color: #0664c9;
	font-weight: 600;
	font-size: 2.5rem;
	font-family: ui-sans-serif;
}
